# Ignore everything
*

# Repository related
!.gitignore
!README.md

# Modpack items
!config/
!datapacks/
!mods/
!resourcepacks/
!shaderpacks/

!heracles_options.json
!options.txt
!optionsshaders.txt
!TrashSlotSaveState.json
